<div class="szp-contactform szp-form">
    <form name="vm.form" ng-submit="vm.sendMail()">
        <h4>{{vm.heading || 'Zapytaj/Zamow'}}
            <small ng-if="!vm.sending"> {{vm.message}} </small>
        </h4>
        <p class="szp-form-row">
            <input
              type="email"
              name="email"
              value=""
              ng-model="vm.from"
              placeholder="email"
              required>
              <span ng-messages="vm.form.email.$error" style="color:maroon" role="alert" ng-if="vm.form.email.$invalid && vm.form.email.$touched">
                    <span ng-message="email">Czekaj... co?</span>
                    <span ng-message="required">Moglbys wpisac?</span>
              </span>
        </p>

        <p class="szp-form-row">
            <input
                type="text"
                name="text"
                value=""
                ng-model="vm.subject"
                placeholder="subject"
                required
                ng-minlength="5">
            <span
                ng-messages="vm.form.text.$error"
                style="color:maroon"
                role="alert"
                ng-if="vm.form.text.$invalid && vm.form.text.$touched">
                  <span ng-message="required">Moglbys wpisac?</span>
                  <span ng-message="minlength">Hej! napisz coś więcej</span>
            </span>
        </p>


        <p class="szp-form-row">
            <textarea
                name="msg"
                rows="8"
                cols="40"
                ng-model="vm.msg"
                placeholder="msg"
                ng-minlength="5"
                required>
            </textarea>
            <span ng-messages="vm.form.msg.$error" style="color:maroon" role="alert" ng-if="vm.form.msg.$invalid && vm.form.msg.$touched">
                  <span ng-message="required">Moglbys wpisac?</span>
                  <span ng-message="minlength">Hej! napisz coś więcej </span>
            </span>
        </p>

        <p class="szp-form-row">

            <button type="submit" name="button" ng-disabled="vm.form.$invalid">send mail</button>
            <!-- <button type="button" name="button" ng-click="vm.szpeje()">szpej</button>
            <button type="button" name="button" ng-click="vm.postSzpeje()">postSzpeje</button> -->
            <szpeje-loader ng-if="vm.sending"></szpeje-loader>
        </p>

    </form>
</div>
