.szp-form {
  margin-top: 10px;;
     input, textarea, button {
         background: #f1f2f2;
         padding: 10px;
         border: 1px solid transparent;
         width: 100%;
         margin-bottom: 3px;
         margin-top: 3px;

         &:focus {
           outline: none;
         }
         &.ng-touched.ng-invalid {
             border: 1px solid #bc2401;
             background: #e5cfcf;
         }
         &:disabled {
             background: #90a6b9;
             cursor: disabled;
             opacity: .3;
             cursor: not-allowed;
             &:hover {
                 background: #90a6b9;
             }
         }
     }

     button {
          background: #0166bc;
          color: #fff;
          transition: background .4s;
          &:hover {
              background: #5fa3f1;
          }
     }
}

.szp-form-row {
    position: relative;

    [ng-messages] {
        position: absolute;
        font-weight: 300;
        top: -1.1em;
        right: 0;
        font-size: 0.8em;

    }
}
