.szp-form {
  margin-top: 10px;;
     input, textarea, button {
         background: #f1f2f2;
         padding: 5px;
         border: 0;
         width: 100%;
         margin-bottom: 3px;
         margin-top: 3px;

         &:focus {
           outline: none;
         }
     }

     button {
          background: #6e6d72;
          color: #fff;
     }
}
