.szp-hero {
    background: #eaeaea;
    min-height: 150px;
    padding: 30px;

    &__paragraph {
        width: 50%;
    }
}



.szp-search {
    text-align: right;
    margin-bottom: 10px;
    &__input {
        border: 0;
        background: none;
        border-bottom: #f1f2f2 solid 2px;
    }
}
