.szp-hero {
    background: #eaeaea;
    min-height: 150px;
    padding: 30px;

    &__paragraph {
        width: 50%;
    }
}


.szp-itemlist {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    &__photo {
      background: #eaeaea;
      min-height: 100px;
      background: #eaeaea left top no-repeat;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-bottom: 5px;
    }
    &__price {
        font-size:   10px;
    }
    &__info {
        font-weight: bold;
        font-size:   10px;
        text-overflow: ellipsis;
    }
    &__item {
        flex: 0 0 50%;
        padding: 0 10px;
        margin-bottom: 8px;
    }
}


@media (min-width: $break-small) {
    .szp-itemlist {
        &__item {
            position: relative;
            flex: 0 0 20%;
            padding: 0 10px;
            margin-bottom: 8px;
            transition: opacity .4s;
        }
        &__info {
            position: absolute;
            top: 0;
            bottom: 0;
            display: flex;
            align-items: center;
            padding: 20px;
            opacity: 0;
            transition: opacity .4s;
        }
        &__item:hover {
            .szp-itemlist__item {
                opacity: .2;
            }
            .szp-itemlist__info {
                opacity: 1;
            }
        }
    }
}
