<szpeje-loader ng-if="!vm.szpeje"></szpeje-loader>

<div class="szp-itemlist">

    <a
        href=""
        ui-sref="app.catalog({catgoryId: szpeja.categoryId, itemId: szpeja.id})"
        class="szp-itemlist__item" ng-repeat="szpeja in vm.szpeje | orderBy: 'published_on' | limitTo:8">
        <div class="szp-itemlist__photo"
            style="background-image: url('{{szpeja.covers['115']}}')">

        </div>
        <p class="szp-itemlist__info">
            {{szpeja.description}}
        </p>
        <p class="szp-itemlist__price">
            {{szpeja.price}}
        </p>
    </a>
</div>
