<div class="szp-hero">
    <h2>Predom Metron</h2>
    <p class="szp-hero__paragraph">
      zegar kominkowy
      Polska, lata 60.
    </p>
</div>

<szpeje-loader ng-if="!vm.szpeje"></szpeje-loader>

<div class="szp-itemlist">

      <div class="szp-itemlist__item" ng-repeat="szpeja in vm.szpeje">
        <div class="szp-itemlist__photo" style="background-image: url('{{szpeja.json.src}}')">

        </div>
        <p class="szp-itemlist__info">
            {{szpeja.json.caption_plain}}
        </p>
        <p class="szp-itemlist__price">
            {{szpeja.json.price}}
        </p>
      </div>
</div>
