.nav {
  position: fixed;
  height: 100px;
  padding-top: 100px;
  background-color: white;
  text-align: center;
  width: 100vw;
  top: 0px;
}


[ui-view] {
  margin: auto;
  margin-top: 200px;
  width:400px;
}
