@import "../bower_components/angular-bootstrap/ui-bootstrap-csp";
@import "../bower_components/angular-aside/dist/css/angular-aside";

@import 'home/home';
@import 'nav/nav';
@import 'admin/admin';
@import 'loader/loader';
@import 'css/footer';
@import 'css/wrapper';
@import 'css/reset';
@import 'css/form';
@import 'css/layout';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


body, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

.projects {
  float: left;
  width: 200px;
  margin: 25px;
}
.project {
    img {
        max-width: 100%;
    }
}
a, a:hover, a:active, a:link {
  text-decoration: none;
  color: black;
}

ol, ul {
    list-style: none outside none;
}


.content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
}



// animation

.content{
  -webkit-transition:all .2s, -webkit-transform .2s;
  transition:all .2s ease-out, -webkit-transform .2s;
  display: flex;
  flex-direction: column;
}
.modal-open.menu .content{
  transform: translate(-80px, 0);
}

.project-cover {
    background-size: cover;
    background-color: #eaeaea;
    padding: 20px;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    h2 {
        font-size: 40px;
        font-weight: bold;
    }
}

.modal-dialog.modal-fs {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .modal-content {
        height: 100%;
        min-height: 100%;
        height: auto;
        border-radius: 0;
        max-width: 100vw;
        width: 100vw;
    }
}
