@import "../bower_components/angular-aside/dist/css/angular-aside";
@import "../bower_components/angular-bootstrap/ui-bootstrap-csp";
@import 'nav/nav';

:focus {outline:none;}

* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  box-sizing: border-box;
}

.nav {
  position: fixed;
  z-index: 0;
  background-color: white;
  text-align: center;
  width: 100vw;
  top: 0px;
  height: 100px;
  border-bottom: 1px solid black;
}


[ui-view] {
  margin: auto;
  margin-top: 100px;
  max-width: 750px;
  padding: 10px;
}

.projects {
  float: left;
  width: 200px;
  margin: 25px;
}
.project {
    img {
        max-width: 100%;
    }
}
a, a:hover, a:active, a:link {
  text-decoration: none;
  color: black;
}

ol, ul {
    list-style: none outside none;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

// animation

.modal-open #content {
  -webkit-transition:all .2s, -webkit-transform .2s;
  transition:all .2s ease-out, -webkit-transform .2s
}
.modal-open.left #content {
  transform: translate(320px, 0);
}
