.szp-szpeja {
    h4 {
        line-height: 2em;
        font-weight: bold;
    }
    &__price {
        opacity: .4;
        line-height: 2em;
    }
}

// bootstrap ui
.carousel-inner, .carousel-inner > .item {
    height: 280px;
}
.carousel {
    margin-bottom: 20px;
}
.carousel-inner > .item > img {
    height: 100%;
}
.carousel-control {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    &.left, &.right {
        background-image: none;
        text-shadow: none;
        opacity: 1;
        &:hover, &:visited, &:active {
            color: inherit;
        }
    }
}
.carousel-indicators {
    li {
        border-color: black;
    }
    .active {
        background: black;
    }
}

.szp-order-button {
      &, &:link, &:hover, &:active {
            margin: 30px 0;
            background: #046be0;
            padding: 30px 40px;
            display: inline-block;
            color: white;
            transition: background .4s;
      }

      &:hover {
          background: #5fa3f1;
      }
}

@media (min-width: $break-small) {
    .szp-szpeja {
        display: flex;
        height: 100%;
        justify-content: space-between;
        &__price {
            opacity: 1;
            font-size: 1.7em;
            color: black;
            font-weight: bold;
            line-height: 2em;
        }

        &__desc {
            padding-top: 25px;
            margin-top: 10px;
            border-top: 1px solid rgba(0,0,0,.1)
        }
    }
    .carousel-inner, .carousel-inner > .item {
        height: auto;
    }
    .carousel-inner > .item > img {
        height: auto;
    }
    .szp-gallery, .szp-info {
        flex: 0 0 calc(50% - 25px);
    }

    .szp-info {
        h4 {
            font-size: 2.2em;
            font-weight: 300;
            line-height: 1.2em;
            margin-bottom: 15px;
        }
    }
}
