.szp-szpeja {
    h4 {
        line-height: 2em;
        font-weight: bold;
    }
    &__price {
        opacity: .4;
        line-height: 2em;
    }
}
.szp-gallery {
    &__mainimg {
      height: 200px;
      width: 100%;
      background: #ebebeb;
    }

    &__thumbs {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    &__thumb {
      flex: 0 0 30%;
      height: 120px;
      background: #ebebeb;
      background-size: cover;
    }

    // bootstrap ui
    .carousel {
        min-height: 280px;
        margin-bottom: 20px
    }
    .carousel-control {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        &.left, &.right {
            background-image: none;
            text-shadow: none;
            opacity: 1;
        }
    }
    .carousel-indicators {
        li {
            border-color: black;
        }
        .active {
            background: black;
        }
    }
}
