<p>
  <div
    data-ng-repeat="project in vm.projects"
    ng-if="vm.projects"
    class="projects">
       <a ui-sref="app.catalog({catgoryId: project.id})">
         <h5>{{ project.name }}</h5>
         <img src="{{ project.covers['202'] }}"/><br>
       </a>


   </div>

   <div class="project"
   ng-if="vm.szpeje && !vm.szpeja">

       <h2>{{vm.category.name}}</h2> <br/>
        <szpeje-images-list szpeje="vm.szpeje" search="vm.serach"></szpeje-images-list>
   </div>

   <div ng-if="vm.szpeja" class="szp-szpeja">
        <div class="szp-gallery">
            <uib-carousel
                active="active"
                template-url="app/tpl/catalog/carousel.tpl.html"
                no-wrap="noWrapSlides">
              <uib-slide
                    ng-repeat="slide in vm.slides track by slide.id"
                    index="slide.id">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                  </uib-slide>
            </uib-carousel>
        </div>
        <h4>{{vm.szpeja.name}}</h4>
        <p class="szp-szpeja__price" ng-if="vm.szpeja.price">
          {{vm.szpeja.price}} PLN
        </p>
        <p>
            {{vm.szpeja.description}}
        </p>
        <szpeje-contact-form subject="vm.szpeja.name"></szpeje-contact-form>

   </div>
   <szpeje-loader ng-if="!vm.szpeje && !vm.projects"></szpeje-loader>
</p>
