<p>
  <div
    data-ng-repeat="project in vm.projects"
    ng-if="vm.projects"
    class="projects">
       <a ui-sref="app.catalog({projectId: project.id})">
         <h5>{{ project.name }}</h5>
         <img src="{{ project.covers['202'] }}"/><br>
       </a>


   </div>

   <div class="project"
   ng-if="vm.szpeje">
        <div class="" ng-repeat="szpej in vm.szpeje">
            <p>
              <h2>{{szpej.json.name}}</h2>
            </p>
            <p>
              <img src="{{szpej.json.src}}" alt="" />
            </p>
            <p>
              {{szpej.json.caption_plain}}
            </p>
            <p>
              {{szpej.json.price}}
            </p>
        </div>
   </div>
   <div class="no-projects" ng-if="!vm.projects && !vm.szpeje">
     loading...
   </div>
</p>
