.szp-itemlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__photo {
      background: #eaeaea;
      min-height: 100px;
      background: #eaeaea left center no-repeat;
      background-size: 100%;
      background-repeat: no-repeat;
      margin-bottom: 5px;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
      }
    }
    &__price {
        font-size:   14px;
    }
    &__info {
        font-weight: 300;
        font-size:   10px;
        text-overflow: ellipsis;
        width: 100%;
        font-size: 1.1em;
    }
    &__item {
        flex: 0 1 100%;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}


@media (min-width: $break-small) {
    .szp-itemlist {
        justify-content: center;
        &__item {
            position: relative;
            flex: 0 0 20%;
            padding: 0 10px;
        }
        &__photo {
            transition: opacity .4s;
            opacity: 1;
            margin: auto;
        }
        &__info {
            position: absolute;
            top: 0;
            bottom: 0;
            padding: 20px;
            opacity: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: opacity .4s;
            text-align: center;
            width: calc(100% - 20px);
        }
        &__item:hover {
            .szp-itemlist__photo {
                opacity: .1;
            }
            .szp-itemlist__info {
                opacity: 1;
            }
        }
    }
}
