<div class="szp-itemlist">
    <a
        href=""
        ui-sref="app.catalog({catgoryId: szpeja.categoryId, itemId: szpeja.id})"
        class="szp-itemlist__item" ng-repeat="szpeja in vm.szpeje | orderBy: 'published_on' | orderBy: 'order' | filter: vm.search">
        <img ng-src="{{szpeja.modules[0].sizes.disp}}" alt="" class="hide-for-big"/>
        <div class="szp-itemlist__photo hide-for-small"
            style="background-image: url('{{szpeja.modules[0].sizes.disp}}'); width: 202px; height: 202px;">
        </div>
        <p class="szp-itemlist__info">
            {{szpeja.name}} <br><br>
            <span class="szp-itemlist__price" ng-if="szpeja.price">
                {{szpeja.price}} PLN
            </span>
        </p>
    </a>

</div>
