.szp-nav {
    height: 100px;
    margin: 0 20px;
    text-align: center;
    border-bottom: 1px solid black;
    background: white;

    &__navtrigger {
      i {
          z-index: 1001;
          position: fixed;
          right: 24px;
          top: 22px;
      }
      &:before {
          content: '';
          position: fixed;
          right: 10px;
          top: 10px;
          background: white;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          z-index: 1000;
      }
    }
}
