.szp-nav {
    height: 100px;
    margin: 0 20px;
    text-align: center;
    border-bottom: 1px solid black;
    background: white;
    &__static-nav {
      display: none;
    }
    &__navtrigger {
      i {
          z-index: 1001;
          position: fixed;
          right: 24px;
          top: 22px;
      }
      &:before {
          content: '';
          position: fixed;
          right: 10px;
          top: 10px;
          background: white;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          z-index: 1000;
      }
    }
}

@media (min-width: $break-small) {
    .szp-nav {
        text-align: left;
        border-bottom: none;
        display: flex;
        justify-content: space-between;
        &__static-nav {
          display: flex;
          align-items: center;
          ul {
            display: flex;
            height: 100%;
          }
          li a{
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0 20px;
            &.social {
                margin: 0 5px;
            }
          }
          .separator {
              width: 40px;
          }
        }
        &__navtrigger {
          display: none;
        }
    }
}
