.szp-nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
    margin: 0 20px;
    text-align: center;
    border-bottom: 1px solid black;
    background: white;

    &__navtrigger {
      position: fixed;
      right: 20px;
    }
}
