<div class="modal-header">
    <ul>
        {{vm.categories}}
        <li ng-repeat="category in vm.vm.categories | limitTo: 4">
            <a ui-sref="app.catalog({catgoryId: category.id, projectId: null})" ng-click="vm.hide()">{{category.name}}</a>
        </li>
    </ul>
</div>
<div class="modal-body">
  <ul>
      <li>
          <a ui-sref="app.home" ng-click="vm.hide()">O nas</a>
      </li>
      <li>
          <a ui-sref="app.catalog({projectId: null})" ng-click="vm.hide()">Szpejowa Kolekcja</a>
      </li>
      <li>
          <a ui-sref="app.contact" ng-click="vm.hide()">Kontakt</a>
      </li>
  </ul>
</div>
