
<div class="szp-nav">
    <a ui-sref="app.home">
        <img src="app/assets/img/logo.jpg" alt="" class="szp-nav__logo" />
    </a>

    <div class="szp-nav__static-nav">
        <ul>
            <li>
                <a ui-sref="app.catalog({catgoryId: null, itemId: null})">
                    wszystko
                </a>
            </li>
            <li ng-repeat="category in vm.categories | limitTo: 4">
                <a ui-sref="app.catalog({catgoryId: category.uri, itemId: null})" ng-click="vm.hide()">{{category.name}}</a>
            </li>
            <li class="separator">
                &nbsp;
            </li>
            <li>
                <a href="https://www.facebook.com/szpeje/?fref=ts" class="social">
                    <img src="app/assets/img/fb.png" alt="" />
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/szpeje/" class="social">
                    <img src="app/assets/img/insta.png" alt="" />
                </a>
            </li>
        </ul>
    </div>
</div>
<a
  href="#"
  class="szp-nav__navtrigger"
  ng-click="vm.toggleMenu()"
  >
  <i class="fa fa-bars" aria-hidden="true"></i>
</a>
